.app-container {
  width: 80%;
}

.greetings {
  display: flex;
  flex-direction: row;
}

.farewells {
  display: flex;
  flex-direction: row;
}

.english {
    width: 40%;
    margin: auto;
}

.spanish{
  width: 40%;
  margin: auto;
}
